<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/Cadastro/Incluir" method="post">
		<label>Titulo:</label>
		<input name="titulo" />
		<br/>
		<label>Autor:</label>
		<input name="autor" />
		<br/>
		<button>Gravar</button>
	</form>	
</body>
</html>
